<!-- DEBUG language-runners forced (defensive) -->
{{/* Adjust these lists if you later re-enable detection */}}

{{/* CSS */}}
{{ $css := resources.Get "css/code-runner.css" }}
{{ if $css }}
  {{ $cssPipe := $css | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $cssPipe.RelPermalink }}" integrity="{{ $cssPipe.Data.Integrity }}">
{{ else }}
  <!-- MISSING assets/css/code-runner.css -->
{{ end }}

{{/* PYTHON */}}
{{ $py := resources.Get "js/python-runner.js" }}
{{ if $py }}
  {{ $pyPipe := $py | minify | fingerprint }}
  <script defer src="{{ $pyPipe.RelPermalink }}" integrity="{{ $pyPipe.Data.Integrity }}"></script>
{{ else }}
  <!-- MISSING assets/js/python-runner.js -->
{{ end }}

{{/* JS runner (optional) */}}
{{ $js := resources.Get "js/js-runner.js" }}
{{ if $js }}
  {{ $jsPipe := $js | minify | fingerprint }}
  <script defer src="{{ $jsPipe.RelPermalink }}" integrity="{{ $jsPipe.Data.Integrity }}"></script>
{{ else }}
  <!-- MISSING assets/js/js-runner.js -->
{{ end }}

{{/* SQL runner (optional) */}}
{{ $sql := resources.Get "js/sql-runner.js" }}
{{ if $sql }}
  {{ $sqlPipe := $sql | minify | fingerprint }}
  <script defer src="{{ $sqlPipe.RelPermalink }}" integrity="{{ $sqlPipe.Data.Integrity }}"></script>
{{ else }}
  <!-- MISSING assets/js/sql-runner.js -->
{{ end }}
