
{{/* PYTHON */}}
{{ $py := resources.Get "js/python-runner.js" }}
{{ if $py }}
  {{ $pyPipe := $py | minify | fingerprint }}
  <script defer src="{{ $pyPipe.RelPermalink }}" integrity="{{ $pyPipe.Data.Integrity }}"></script>
{{ else }}
  <!-- MISSING assets/js/python-runner.js -->
{{ end }}

{{/* JS runner */}}
{{ $js := resources.Get "js/js-runner.js" }}
{{ if $js }}
  {{ $jsPipe := $js | minify | fingerprint }}
<script defer src="{{ $jsPipe.RelPermalink }}" integrity="{{ $jsPipe.Data.Integrity }}"></script>
{{ else }}
{{ end }}

{{/* SQL runner */}}
{{ $sql := resources.Get "js/sql-runner.js" }}
{{ if $sql }}
{{ $sqlPipe := $sql | minify | fingerprint }}
<script defer src="{{ $sqlPipe.RelPermalink }}" integrity="{{ $sqlPipe.Data.Integrity }}"></script>
{{ else }}
{{ end }}
